node_modules/
dist/
.tanstack/
.vercel/

.env
.env.local
.env.*.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
.git.nix-pointer
.scripts/
.tanstack/tmp/

.vercel
supabase/.temp/
